.orderTable{
    border: 2px solid black;
    width: 100%;
}

td, th{
    border-right: 2px solid black;
    height: 5%;
    font-family: cursive;
}

th{
    
    color: black;
    font-size: 14px;
}

tr:nth-child(even){
    background: white;
    
}

tr:nth-child(odd){
    background: rgb(226, 226, 226);
}

.buttonPaid{
    background: lightgreen;
    box-shadow: 2px 2px 0px 0px;
    width: 100px;
}

li{
    list-style-type: none; 
    padding-left: 0;
}

ul {
    margin-left: 0;
    padding-left: 0; 
   }

.mat-column-orderId{
    width: 10%;
}

.mat-column-orderTime{
    width: 20%;
}

.mat-column-product{
    width: 15%;
}

.mat-column-title{
    width: 30%;
}

.mat-column-qty{
    width: 5%;
}

.mat-column-orderAmount{
    width: 10%;
}

.mat-column-orderStatus{
    width: 10%;
}