.confirmImg{
    width: 80px;
    height: 80px;
    
}

.confirmImgAlign{
    text-align: center;
    padding-top: 10%;
}

.confirmAlign{
    padding-left: 35%;

}

.confirmText{
    font-family: cursive;
    padding-left: 10%;
    padding-top: 3%;
}

.confirmButton{
    background: rgb(70, 192, 33); 
    margin-left: 18%;
    margin-top: 1%;

}