.authorLabelName{
    font-family: cursive;
    font-size: medium;
    font-weight: 500;
    margin-left: 26%;
}

.authorInputName{
    width: 200px;
    margin-left: 26%;
}

.authorButtonUpdate{
    margin-left: 42%;
}

.paddingOfTop{
    padding-top: 10%;
    width: 400px;
}

.authorLabelUpdate{
    font-family: cursive;
    font-size: 20px;
    margin-left: 28%;
    margin-bottom: 3%;
}

.buttonImg{
    width: 25px;
    height: 25px;
}

.authorError{
    margin-left: 34%;
    width: 400px;
    //margin-top: 20%;
}