.alert-danger{
    color: red;
    width: 400px;
    text-align: right;
}

.registerAlign{
    padding: 30px;
    text-align: center;
}

.registerUserImg{
    width: 100px;
    height: 100px;
}

.registerFormAlign{
    padding-left: 35%;
}

.registerCreateText{
    font-family: cursive;
    font-size: medium;
    font-weight: 550;
}

.registerInput{
    width: 400px;
}

.registerInputName{
    font-family: cursive;
    font-weight: 500;
}

.registerButton{
    margin-left: 9%;
    margin-top: 1%;
    width: 250px;
    background: rgb(70, 192, 33); 
}

.registerHaveAccount{
    font-family: cursive;
    font-weight: 500;
    padding-top: 2%;
}

.registerSignIn{
    padding-left: 10px;
}