.printingEditionInputTitle{
    width: 300px;
    height: auto;
}

.labelTitle{
    font-family: cursive;
    vertical-align: top;
    padding-right: 60px;
}

.printingEditionInputDescription{
    width: 300px;
    height: 150px;
}

.labelDescription{
    font-family: cursive;
    vertical-align: top;
    padding-right: 16px;
}

.printingEditionInputPrice{
    width: 177px;
}

.lablePrice{
    font-family: cursive;
    padding-right: 55px;
    padding-left: 100px;
}

.labelCurrency{
    font-family: cursive;
    padding-right: 29px;
    padding-left: 100px;
}

.labelUSD{
    font-family: cursive;
    font-family: cursive;
}

.imgBook{
    width: 70px;
    height: 60px;
    margin-left: 280px;
}

.left{
    float: left;
}

.labelCategory{
    padding-left: 100px;
    padding-right: 33px;
}

.labelAuthor{
    padding-left: 100px;
    padding-right: 46px;
}

.authorLabelUpdate{
    font-family: cursive;
    font-size: 16px;
    font-weight: 500;
    padding-left: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.buttonImg{
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.printingEditionButtonUpdate{
    background: lightgreen;
    box-shadow: 2px 2px 0px 0px;
    width: 100px;
    margin-left: 400px;
    margin-top: 20px;
}

.container{
    padding-left: 200px;
    
}