<div class="container">

  <div class="forgotAlign">
    <img class="forgotUserImg" src="/assets/user.png" />
  </div>

  <div class="forgotFormAlign">

    <div *ngIf="!(successMessage$ | async)">

      <div *ngIf="(errorMessages$|async)">
        <div class="alert alert-danger" role="alert">
          <div class="forgotError">
            <label class="forgotExclamationMark"> ! </label>
          </div>
          <div class="forgotMessage">
            <label class="forgotTitleMessage">There was a problem</label><br /><br />
            {{errorMessages$|async}}
          </div>
        </div>
      </div>

      <h3 class="forgotPasswordText">Password assistance</h3>

      <form [formGroup]="forgotForm" novalide (ngSubmit)="forgotPassword()">

        <p class="forgotText">Enter the email address associated with your account.</p>

        <div>
          <label class="forgotText">E-mail</label>
          <p>
            <input class="forgotInputSize" formControlName="email" />
          </p>
        </div>

        <button class="forgotButton">Continue</button>

      </form>

    </div>

    <div class="container">
      <div *ngIf="(successMessage$ | async)">
        <h3 class="forgotPasswordText">Password assistance</h3>
        <div class="forgotText">
          {{successMessage$ | async}}
        </div>
        <div>
          <a routerLink="/account/login"><button class="forgotButton">Continue</button></a>
        </div>
      </div>
    </div>

  </div>
</div>