@page
@model Store.PresentationLayer.Areas.Home.Pages.MainPageModel
@{
}

<h3 align="center">Main Page</h3>

<div>
    <ul>
        <li><a asp-page="GetUsers" asp-area="Administration">User managament</a></li>
        <li><a asp-page="GetPrintingEditions" asp-area="Administration">Product managament</a></li>
        <li><a asp-page="GetOrders" asp-area="Administration">Order managament</a></li>
        <li><a asp-page="GetAuthors" asp-area="Administration">Authors page</a></li>
    </ul>
</div>