@page
@model Store.PresentationLayer.Areas.Administration.Pages.AddAuthorModel
@{
}

<form method="post">
    <div>
        <input type="text" asp-for="AuthorModel.Name"/>
    </div>
    <div>
        <input type="submit" value="save"/>
    </div>
</form>