.alert-danger{
    color: red;
    width: 400px;
}

.loginUserImg{
    width: 100px;
    height: 100px;
}

.loginAlign{
    padding: 30px;
    text-align: center;
}

.loginSignIn{
    font-family: cursive;
    font-size: medium;
    font-weight: 550;
}

.loginForgotPassword{
    display: inline;
    padding-left: 23%;
}

.loginButtonLogin{
    display: inline;
    margin-left: 28%;
    background: rgb(70, 192, 33); 
}

.loginAlignForm{
    padding-left: 35%;
}

.loginInputText{
    width: 400px;
}

.loginEmail{
    font-family: cursive;
    font-weight: 500;
}

.loginTextAsk{
    padding-left: 15%;
    padding-top: 3%;
}

.loginRegister{
    padding-left: 15%;
}

.loginRegisterButton{
    width: 150px;
}
